/* Styles for the closed burger menu */
.closed-burger{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
/* Styles for the left part of the header */
.header_left{
  /* Styles for the logo image */
  .logoimg{
    margin-right: 40px;
  }
  /* Styles for the header menu */
  .header_menu{
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    li:not(:last-child){
      margin-right: 40px;
    }
  }
}
/* Styles for the social links block */
.block_social{
  padding-right: 16px;
  /* Styles for the social links menu */
  .menu_social_links{
    /* Styles for each social link item */
    li{
      a{
        margin-left: 16px;
      }
    }
  }
}
/* Styles for the burger button */
.burger-button {
  cursor: pointer;
}
/* SVG icon styles */
.burger-button svg {
  fill: white;
}

/* Styles for the mobile menu */
.mobile-menu {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
  z-index: 9;
  opacity: 0;
  height: 0;
  visibility: hidden;
  transition: opacity 0.55s, height 40s, visibility 0.3s;
}

/* Styles for links within the mobile menu */
.mobile-menu a {
  padding: 32px 0px 32px 32px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #ffffff;
  /* Styles for link hover effect */
  &:hover{
    border-left: 4px solid #121212;
  }
  display: block;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.6);
  color: black;
  text-decoration: none;
  transition: color 0.3s linear;
  /* Styles for the before pseudo-element */
  &:before{
    padding-right: 15px;
  }
}

/* Hide burger button by default */
.burger-button {
  display: none;
}
/* Media query for screens up to 1024px */
@media (max-width: 1024px) {
  /* Hide the regular header menu */
  .header_menu {
    display: none;
  }

  /* Show the burger button for screens smaller than 1024px */
  .burger-button {
    display: block;
  }
  /* Styles for open burger menu */
  body.menu-open {
    .mobile-menu{
      height: 100%;
      opacity: 1;
      visibility: visible;
      transition: opacity 0.55s, visibility 0.3s;
    }
  }
}
